name: Publish
on:
  push:
    branches: [ main ]
jobs:
  publish:
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: hamsaqua/action/.github/actions/publish-core@main
        with:
          module: <module>
          in_pat: ${{ secrets.CORE_PAT }}
          ex_pat: ${{ secrets.STARTER_PAT }}
    runs-on: ubuntu-latest
