name: Publish
on:
  push:
    branches: [ main ]
jobs:
  publish:
    steps:
      - uses: actions/checkout@v5
      - uses: ${{ vars.ACTION_REPO }}/.github/actions/${{ vars.PUBLISH_ACTION }}@main
        with:
          module: <module>
          core_pat: ${{ secrets.CORE_PAT }}
          starter_pat: ${{ secrets.STARTER_PAT }}
    runs-on: ubuntu-latest
