name: Initial Scope
on:
  workflow_dispatch:
    inputs:
      scope:
        description: "Enter Scope Name"
        required: true
jobs:
  init-scope:
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/check-scope
        with:
          scope: ${{ github.event.inputs.scope }}
          pat: ${{ secrets.PAT_TEMPLATE }}
        id: check
      - uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.PAT_RELEASE }}
          repository: ${{ vars.REPO_RELEASE }}
          event-type: ${{ vars.EVENT_INIT_SCOPE }}
          client-payload: |
            {
              "scope": "${{ steps.check.outputs.scope }}"
            }
      - uses: ./.github/actions/update-options
        with:
          scope: ${{ steps.check.outputs.scope }}
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH }}
      - uses: EndBug/add-and-commit@v9.1.4
        with:
          author_name: initial[bot]
          author_email: initial[bot]@users.noreply.github.com
          add: |
            - ./.github/workflows/init-service.yml
          message: "chore: update 'scope' options for workflow 'init-service'"
    runs-on: ubuntu-latest
