name: Initial Service
on:
  workflow_dispatch:
    inputs:
      scope:
        description: "Select Scope"
        required: true
        type: choice
        default: banking
        options:
          - banking
          - clearing-settlement
          - compliance-regulatory
          - fraud-risk
          - payment
          - shopping
      service:
        description: "Enter Service Name"
        required: true
jobs:
  init-service:
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/check-service
        with:
          scope: ${{ github.event.inputs.scope }}
          service: ${{ github.event.inputs.service }}
          pat: ${{ secrets.PAT_TEMPLATE }}
        id: check
      - uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.PAT_RELEASE }}
          repository: ${{ vars.REPO_RELEASE }}
          event-type: ${{ vars.EVENT_INIT_SERVICE }}
          client-payload: |
            {
              "scope": "${{ steps.check.outputs.scope }}",
              "service": "${{ steps.check.outputs.service }}"
            }
      - uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.PAT_DEPLOY }}
          repository: ${{ vars.REPO_DEPLOY }}
          event-type: ${{ vars.EVENT_INIT_SERVICE }}
          client-payload: |
            {
              "scope": "${{ steps.check.outputs.scope }}",
              "service": "${{ steps.check.outputs.service }}"
            }
      - uses: cli/gh-actions@v2
        with:
          args: |
            repo create \
              ${{ vars.ORG }}/${{ steps.check.outputs.scope }}-${{ steps.check.outputs.service }} \
              --private=false \
              --confirm
        env:
          GH_TOKEN: ${{ secrets.SSH }}
      - uses: ./.github/actions/ruleset
        with:
          org: ${{ vars.ORG }}
          repo: ${{ steps.check.outputs.scope }}-${{ steps.check.outputs.service }}
          pat: ${{ secrets.PAT }}
      - uses: actions/checkout@v5
        with:
          repository: ${{ vars.ORG }}/${{ steps.check.outputs.scope }}-${{ steps.check.outputs.service }}
          token: ${{ secrets.PAT }}
          path: ${{ runner.temp }}/core
      - uses: ./.github/actions/resolve-core
        with:
          scope: ${{ steps.check.outputs.scope }}
          service: ${{ steps.check.outputs.service }}
          tld: ${{ vars.TLD }}
          org: ${{ vars.ORD }}
      - uses: EndBug/add-and-commit@v9
        with:
          author_name: initial[bot]
          author_email: initial[bot]@users.noreply.github.com
          message: "feat: initial commit"
          add: "-A"
          tag_push: "--force"
          cwd: ${{ runner.temp }}/core
    runs-on: ubuntu-latest
