name: Initial Service
on:
  workflow_dispatch:
    inputs:
      scope:
        description: "Select Scope"
        required: true
        type: choice
        default: banking
        options:
          - banking
          - clearing-settlement
          - compliance-regulatory
          - fraud-risk
          - payment
          - shopping
      service:
        description: "Enter Service Name"
        required: true
jobs:
  ex-repos:
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/check-service
        with:
          scope: ${{ github.event.inputs.scope }}
          service: ${{ github.event.inputs.service }}
          pat: ${{ secrets.PAT_TEMPLATE }}
        id: check
      - uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.PAT_RELEASE }}
          repository: ${{ vars.REPO_RELEASE }}
          event-type: ${{ vars.EVENT_INIT_SERVICE }}
          client-payload: |
            {
              "scope": "${{ steps.check.outputs.scope }}",
              "service": "${{ steps.check.outputs.service }}"
            }
      - uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.PAT_DEPLOY }}
          repository: ${{ vars.REPO_DEPLOY }}
          event-type: ${{ vars.EVENT_INIT_SERVICE }}
          client-payload: |
            {
              "scope": "${{ steps.check.outputs.scope }}",
              "service": "${{ steps.check.outputs.service }}"
            }
      - uses: cli/gh-actions@v2
        with:
          args: |
            repo create \
              ${{ vars.ORG }}/${{ steps.check.outputs.scope }}-${{ steps.check.outputs.service }} \
              --private=false \
              --confirm
        env:
          GH_TOKEN: ${{ secrets.SSH }}
    outputs:
      scope: ${{ steps.check.outputs.scope }}
      service: ${{ steps.check.outputs.service }}
    runs-on: ubuntu-latest
  approve:
    permissions:
      issues: write
    timeout-minutes: 60
    steps:
      - uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.token }}
          approvers: ${{ vars.APPROVERS }}
          minimum-approvals: 1
    needs: ex-repos
    runs-on: ubuntu-latest
  init-core:
    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: |
            ruleset.json
            core
      - uses: ./.github/actions/settings-core
        with:
          org: ${{ vars.ORG }}
          repo: ${{ needs.ex-repos.outputs.scope }}-${{ needs.ex-repos.outputs.service }}
          pat: ${{ secrets.PAT_TEMPLATE }}
          topics: ${{ vars.TOPICS }}
          desc: ${{ vars.DESC_TEMPLATE }}
          vars: |
            REPO_ACTION:${{ vars.REPO_ACTION }}
            REPO_BUNDLE:${{ vars.REPO_BUNDLE }}
            ACTION_DEVELOP:${{ vars.ACTION_DEVELOP }}
            ACTION_PUBLISH:${{ vars.ACTION_PUBLISH }}
            ORG:${{ vars.ORG }}
            GROUP:${{ vars.GROUP }}
            DESCRIPTION:${{ vars.DESC_CORE }}
            EVENT_PUBLISH:${{ vars.EVENT_PUBLISH }}
          secrets: |
            PAT_CORE:${{ secrets.PAT_CORE }}
            PAT_BUNDLE:${{ secrets.PAT_BUNDLE }}
      - uses: actions/checkout@v5
        with:
          repository: ${{ vars.ORG }}/${{ needs.ex-repos.outputs.scope }}-${{ needs.ex-repos.outputs.service }}
          token: ${{ secrets.PAT_CORE }}
          path: ${{ runner.temp }}/core
      - uses: ./.github/actions/resolve-core
        with:
          scope: ${{ needs.ex-repos.outputs.scope }}
          service: ${{ needs.ex-repos.outputs.service }}
          tld: ${{ vars.TLD }}
          org: ${{ vars.ORD }}
      - uses: EndBug/add-and-commit@v9
        with:
          author_name: initial[bot]
          author_email: initial[bot]@users.noreply.github.com
          message: "feat: initial commit"
          add: "-A"
          tag_push: "--force"
          cwd: ${{ runner.temp }}/core
    needs: [ ex-repos, approve ]
    runs-on: ubuntu-latest
